#main {
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid-container {
    margin: 0;
    padding: 0;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    flex: none;
    /* background-color: blue; */
    border: 1px solid black;
}

.grid-square {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    flex: none;
}

#buttons {
    display: flex;
    flex: none;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}