.zeroed {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#grid-container {
    margin: 0;
    padding: 0;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    flex: none;
    /* background-color: blue; */
}

.grid-square {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}